.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

src/**/obj
src/**/bin

src/id4-server/tempkey.rsa
src/id4-server/identityserver4_log.txt